params{
    fastqdir
    fastaref
    cancer_type

    sharc_dir
    mapping_threads                                Number of threads [$MAPPING_THREADS]
    mapping_h_rt                                  Mapping time [$MAPPING_TIME]
    mapping_h_vmem                                Mapping memory [$MAPPING_MEM]
    mapping_ref                                    Mapping reference [$MAPPING_REF]
    minimap2                                       Path to minimap2 [$MAPPING_MINIMAP2]
    minimap2_settings                             Minimap2 settings [$MAPPING_MINIMAP2_SETTINGS]
    mapping_sambamba                              Path to sambamba [$MAPPING_SAMBAMBA]

    mapping_merge_threads                         Number of threads [$MAPPING_MERGE_THREADS]
    mapping_merge_h_vmem                         Mapping merge memory [$MAPPING_MERGE_MEM]
    mapping_merge_h_rt                           Mapping merge time [$MAPPING_MERGE_TIME]
    mapping_merge_sambamba                       Path to sambamba [$MAPPING_MERGE_SAMBAMBA]

    coverage_calculation_threads                  Number of threads [$COVERAGE_CALCULATION_THREADS]
    coverage_calculation_h_vmem                  Coverage calculation memory [$COVERAGE_CALCULATION_MEM]
    coverage_calculation_h_rt                    Coverage calculation time [$COVERAGE_CALCULATION_TIME]
    coverage_calculation_sambamba                 Path to sambamba [$COVERAGE_CALCULATION_SAMBAMBA]
    coverage_calculation_bed                      Path to bed file [$COVERAGE_CALCULATION_BED]
    coverage_calculation_sambamba_settings       Sambamba settings [$COVERAGE_CALCULATION_SAMBAMBA_SETTINGS]

    sv_threads                                    Number of threads [$SV_THREADS]
    sv_h_vmem                                    SV calling memory [$SV_MEM]
    sv_h_rt                                      SV calling time [$SV_TIME]
    sv_config                                     Path to config file [$SV_CONFIG]
    sv_sambamba                                   Path to sambamba [$SV_SAMBAMBA]

    vcf_filter_h_vmem                            VCF filter memory [$VCF_FILTER_MEM]
    vcf_filter_h_rt                              VCF filter time [$VCF_FILTER_TIME]
    vcf_filter_query                              VCF Filter query [$VCF_FILTER_QUERY]

    vcf_split_h_vmem                             VCF split memory [$VCF_SPLIT_MEM]
    vcf_split_h_rt                               VCF split time [$VCF_SPLIT_TIME]
    vcf_split_lines                               Number of lines per split [$VCF_SPLIT_LINES]

    create_bed_annotation_h_vmem                Create BED memory [$CREATE_BED_ANNOTATION_MEM]
    create_bed_annotation_h_rt                  Create BED time [$CREATE_BED_ANNOTATION_TIME]

    bed_annotation_h_vmem                        BED annotation memory [$BED_ANNOTATION_MEM]
    bed_annotation_h_rt                          BED annotation time [$BED_ANNOTATION_TIME]
    bed_annotation_files                          Path to the directory with the feature bed files [$BED_ANNOTATION_FILES]
    bed_annotation_script                         Path to get_closest_feature.py script [$BED_ANNOTATION_SCRIPT]

    bed_annotation_merge_h_vmem                 Merge annotation memory [$BED_ANNOTATION_MERGE_MEM]
    bed_annotation_merge_h_rt                   Merge annotation time [$BED_ANNOTATION_MERGE_TIME]

    rf_h_vmem                                    Random forest memory [$RF_MEM]
    rf_h_rt                                      Random forest time [$RF_TIME]
    rf_ft_script                                Path to create_features_table.pl script [$RF_CREATE_FEATURE_TABLE_SCRIPT]
    rf_script                                     Path to run_randomForest.R script [$RF_SCRIPT]
    rf_p_script                                  Path to add_predict_annotation.py script [$RF_ADD_PREDICT_SCRIPT]

    db_h_vmem                                    DB filter memory [$DB_MEM]
    db_h_rt                                      DB filter time [$DB_TIME]
    db_flank                                      Database filter flank [$DB_FLANK]
    db_sample_exclusion                          List of samples to exclude from the SHARC database (e.g '[Sample1,Sample2]') [$DB_EXCLUSION]

    db_merge_h_vmem                             Merge DB annotation memory [$DB_MERGE_MEM]
    db_merge_h_rt                               Merge DB annotation time [$DB_MERGE_TIME]

    sharc_filter_h_vmem                          SHARC Filter memory [$SHARC_FILTER_MEM]
    sharc_filter_h_rt                            SHARC Filter time [$SHARC_FILTER_TIME]
    sharc_filter_query                            SHARC Filter query [$SHARC_FILTER_QUERY]

    somatic_feature_selection_h_vmem                   Somatic feature selection memory [$SOMATIC_FEATURE_SELECTION_MEM]
    somatic_feature_selection_h_rt                     Somatic feature selection time [$SOMATIC_FEATURE_SELECTION_TIME]
    somatic_feature_selection_flank                     Somatic feature selection flank [$SOMATIC_FEATURE_SELECTION_FLANK]
    somatic_feature_selection_support                   Somatic feature selection support [$SOMATIC_FEATURE_SELECTION_SUPPORT]
    somatic_feature_selection_script                    Path to somatic_feature_selection.py [$SOMATIC_FEATURE_SELECTION_SCRIPT]
    somatic_feature_selection_icgc_directory           Path to ICGC database directory [$SOMATIC_FEATURE_SELECTION_ICGC_DIRECTORY]
    somatic_feature_selection_cosmic_breakpoints       Path to COSMIC database .csv file [$SOMATIC_FEATURE_SELECTION_COSMIC_BREAKPOINTS]

    somatic_ranking_h_vmem                       Somatic ranking memory [$SOMATIC_RANKING_MEM]
    somatic_ranking_h_rt                         Somatic ranking time [$SOMATIC_RANKING_TIME]
    somatic_ranking_script                        Path to somatic_ranking.py [$SOMATIC_RANKING_SCRIPT]

    vcf_fasta_h_vmem                            VCF to FASTA memory [$VCF_FASTA_MEM]
    vcf_fasta_h_rt                              VCF to FASTA time [$VCF_FASTA_TIME]
    vcf_fasta_offset                             VCF to FASTA offset [$VCF_FASTA_OFFSET]
    vcf_fasta_flank                              VCF to FASTA flank [$VCF_FASTA_FLANK]
    vcf_fasta_mask                               VCF to FASTA mask [$VCF_FASTA_MASK]
    vcf_fasta_script                             Path to vcf_to_fasta.py [$VCF_FASTA_SCRIPT]

    primer_design_h_vmem                         Primer design memory [$PRIMER_DESIGN_MEM]
    primer_design_h_rt                           Primer design time [$PRIMER_DESIGN_TIME]
    primer_design_dir                             Path to primer3 directory [$PRIMER_DESIGN_DIR]
    primer_design_bindir                          Path to primer3 bin dir [$PRIMER_DESIGN_BINDIR]
    primer_design_pcr_type                       PCR type [$PRIMER_DESIGN_PCR_TYPE]
    primer_design_tilling_params                 Tilling params [$PRIMER_DESIGN_TILLING_PARAMS]
    primer_design_psr                             PSR [$PRIMER_DESIGN_PSR]
    primer_design_guix_profile                   Path to guix profile [$PRIMER_DESIGN_GUIX_PROFILE]
    primer_design_primer3_core                   Path to primer3_core [$PRIMER_DESIGN_PRIMER3_CORE]
    primer_design_mispriming                      Path to mispriming [$PRIMER_DESIGN_MISPRIMING]

    vcf_primer_filter_h_vmem                    VCF Primer Filter memory [$VCF_PRIMER_FILTER_MEM]
    vcf_primer_filter_h_rt                      VCF Primer Filter time [$VCF_PRIMER_FILTER_TIME]
    vcf_primer_filter_script                     Path to vcf_primer_filter.py [$VCF_PRIMER_FILTER_SCRIPT]

    primer_ranking_h_vmem                        Primer ranking memory [$PRIMER_RANKING_MEM]
    primer_ranking_h_rt                          Primer ranking time [$PRIMER_RANKING_TIME]
    primer_ranking_script                         Path to primer ranking.py [$PRIMER_RANKING_SCRIPT]

"
